.card {
  width: 276px;
  height: 424px;
  display: flex;
  flex-direction: column;

}

.image {
  border-radius: 14px;
  object-fit: cover;
  margin-bottom: 16px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: var(--font-weight-medium);
}

.overlayInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-relaxed);
  color: var(--gray-500);
}
.title span {
  color: var(--blue-500);
}

.price {
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-medium);
}
.info {
  display: flex;
  gap: 6px;
}
.btnWrapper {
  margin-top: auto;
}

.btn.btn {
  width: 100%;
  padding: 12px 0;
}
