.card {
  width: 276px;
 
  padding: 16px;
  border-radius: var(--radius-2xl);

  display: flex;
  flex-direction: column;

  background-color: var(--white);
}

.image {
  border-radius: var(--radius-xl);
  object-fit: cover;
  margin-bottom: 16px;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.title {
  font-weight: var(--font-weight-medium);
  height: 40px;
}

.overlayInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;
  font-size: 12px;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-relaxed);
  background-color: var(--gray-50);
  color: var(--black-900);
  border-radius: var(--radius-sm);

}
.title span {
  color: var(--blue-500);
}

.price {
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-medium);
}
.info {
  display: flex;
  gap: 6px;
}
.btnWrapper {
  margin-top: auto;
}

a.btn {
  width: 100%;
  padding: 12px 0;
}

.separator {
  height: 16px;
  width: 1px;
  color: var(--gray-400);
}
