.form {
  width: 640px;
  padding: 32px;

  border-radius: var(--radius-md);
  background-color: var(--white);
}

.header {
  margin-bottom: 24px;
}

.title {
  margin-bottom: 8px;

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
}

.text {
  color: var(--gray-500);
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}



.input,
.textarea {
  width: 100%;
  padding: 14px 20px;

  border: none;
  border-radius: var(--radius-lg);
  outline: none;

  background-color: var(--gray-200);
  color: var(--black);
}

.textarea {
  height: 88px;
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  color: var(--gray-500);
}

.btn {
  display: flex;
  margin: 0 auto;
  width: 156px;
}

.field {
  display: flex;
  flex-direction: column;
}

.error {
  min-height: 18px;
  margin-bottom: 4px;
  color: #ef4444;
  font-size: 12px;
}

.inputError {
  outline: 1px solid #ef4444;
}