:root {
  /* Dark */
  --black-900: #101828;

  /* Gray */
  --gray-500: #8e929a;
  --gray-400: #dadde1;
  --gray-300: #f2f4f7;
  --gray-200: #f7f7f7;
  --gray-100: #ffffff;
  --gray-50: #f5f5f5;

  /* Blue */
  --blue-500: #3470ff;
  --blue-600: #0b44cd;

  /* Base */
  --white: #ffffff;

  /* Font sizes */
  --font-size-xxl: 60px;
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-md: 16px;
  --font-size-sm: 12px;

  /* Font weights */
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;

  /* Line heights */
  --line-height-tight: 1.2;
  --line-height-normal: 1.25;
  --line-height-relaxed: 1.33333;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button,
input,
textarea,
select {
  font: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-size: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  color: var(--black-900);
  background: var(--white);
  font-family: var(--font-manrope);
  font-size: var(--font-size-md);
  line-height: var(--line-height-normal);
  font-weight: var(--font-weight-medium);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}
