.main {
  padding: 84px 0 176px;
}

.section {
  display: grid;
  grid-template-columns: 640px 488px;
  gap: 32px;
}

/* Layout */

.leftSide,
.rightSide,
.carInfo,
.conditionsList,
.specList,
.featuresList {
  display: flex;
  flex-direction: column;
}

.leftSide {
  gap: 40px;
}

.rightSide {
  padding: 32px 24px;
  gap: 36px;
  border-radius: var(--radius-2xl);
  background-color: var(--white);
}

.carInfo {
  gap: 48px;
}

/* Image */

.carImg {
  border-radius: var(--radius-3xl);
}

/* Flex rows */

.modelBrand,
.locationMileage,
.location,
.conditionsItem,
.specItem,
.featuresItem {
  display: flex;
  align-items: center;
}

.modelBrand,
.locationMileage {
  gap: 16px;
}

.location,
.conditionsItem,
.specItem,
.featuresItem {
  gap: 8px;
}

/* Spacing */

.modelBrand {
  margin-bottom: 8px;
}

.locationMileage {
  margin-bottom: 16px;
}

.price {
  margin-bottom: 32px;
}

.carInfoTitle {
  margin-bottom: 20px;
}

.conditionsList,
.specList,
.featuresList {
  gap: 16px;
}

/* Text */

.carTitle,
.price {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-relaxed);
}

.carInfoTitle {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
}

.price {
  color: var(--blue-500);
}

.imageId {
  color: var(--gray-500);
}
