.main {
  padding: 84px 0 104px;
}

.section {
  display: grid;
  grid-template-columns: 640px 488px;
  gap: 72px;
}

/* Left side */

.leftSide,
.rightSide,
.carInfo,
.conditionsList,
.specList {
  display: flex;
  flex-direction: column;
}

.leftSide {
  gap: 40px;
}

.carImg {
  border-radius: 18px;
}

/* Right side */

.rightSide {
  gap: 68px;
}

.modelBrand,
.locationMileage,
.location,
.conditionsItem,
.specItem {
  display: flex;
  align-items: center;
}

.modelBrand {
  gap: 16px;
  margin-bottom: 8px;
}

.locationMileage {
  gap: 16px;
  margin-bottom: 16px;
}

.location,
.conditionsItem,
.specItem {
  gap: 8px;
}

.carTitle,
.price {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-relaxed);
}

.price {
  margin-bottom: 32px;
  color: var(--blue-500);
}

.imageId {
  color: var(--gray-500);
}

/* Info sections */

.carInfo {
  gap: 110px;
}

.carInfoTitle {
  margin-bottom: 20px;

  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-tight);
}

.conditionsList,
.specList {
  gap: 16px;
}